html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  line-height: 1;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue',
    'PingFang SC', 'Microsoft YaHei', 'sans-serif';
}

#root {
  width: 100vw;
  height: 100vh;
}
